server:
  port: 9003

spring:
  config:
    import[0]: nacos:${spring.application.name}.${spring.cloud.nacos.config.file-extension}
    import[1]: nacos:share.yaml
  application:
    name: inventory
  cloud:
    nacos:
      username: nacos
      password: nacos
      discovery:
        server-addr: 192.168.64.128:8848
      config:
        server-addr: 192.168.64.128:8848
        file-extension: yaml

  # R2DBC ?????
  r2dbc:
    url: r2dbc:mysql://192.168.64.128:3306/island_inventory?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: "000000"
    pool:
      initial-size: 5
      max-size: 20

  # 初始化 SQL 脚本 (可选，自动建表)
  sql:
    init:
      mode: always # 每次启动都尝试运行 schema_inventory.sql，生产环境请改为 never
      schema-locations: classpath:schema_inventory.sql
      encoding: UTF-8
      separator: ";"
      continue-on-error: true

logging:
  level:
    # 打开 R2DBC 的 SQL 日志，方便调试
    org.springframework.r2dbc: debug
